* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

#navbar-container {
    z-index: 1;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #E5E5E5;
    transition:top 0.5s linear;
}


#navbar-items {
    flex: 5;
    display:flex;
    justify-content: flex-end;
    text-align: center;
    max-height: 400px;
    transition: max-height 0.3s ease-in-out;
}

.navbar-left {
    flex: 1;
    display: flex;
    font-size: 24px;
}

.logo {
    flex: 1;
    margin: 20px 0px 0px 20px;
}

.navbar-menu-item {
    display: inline;
    text-align: center;
    font-size: 20px;
    margin: auto 30px;
    max-width: 150px;
    flex: 1;
}

#navbar-menu-button {
    visibility: hidden;
    cursor:pointer;  
}

@media only screen and (max-width: 1200px) {    
    .navbar-logo {
        text-align: center;
    }

    #navbar-menu-button {
        margin: auto;
        visibility: visible;
    }

    #navbar-container {
        flex-direction: column;
    } 

    #navbar-items {
        flex-direction: column;
        max-height: 0px;
        visibility: hidden;
    }

    .navbar-menu-item {
        margin: 0px auto 10px auto;
    }
}

.underline-magical {
    background-image: linear-gradient(120deg, #E5E5E5 30%, #dfce0d 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    padding: 5px;
}

.underline-magical:hover {
    background-size: 100% 40%;
}

.listing-container {
    display: flex;
    flex-direction: column;
    margin: 166px 40px 40px 40px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 16px 16px;
    border-top: 3px solid #dfce0d;
    min-height: 500px;
}

.photos-carrosel {
    display: flex;
    flex: 1;
}

.listing-image {
    width: 50%;
    margin: auto;
}

.listing-information {
    flex: 1;
}


@media only screen and (max-width: 1200px) {    
    .listing-container{
        flex-direction: column;
        margin: 166px 20px 40px 20px;
        padding: 10px;
    }

    .listing-image {
        width: 100%;
    }
}

.listing-container-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listing-information {
    flex-direction: column;
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {    
    .listing-container-details {
        margin: 40px 0px 0px 0px;
    }    
}

.listing-container-button {
    margin-top: 40px;
}

.listing-details-wrapper {
    flex: 1;
}

.listing-container-image {
    display: flex;
    flex: 1;
}

h2 {
    font-family: Montserrat;
    font-size: 40px;
}

h3 {
    font-family: Montserrat;
    font-size: 25px;
}

.price {
    color: #dfce0d;
    font-family: Montserrat;
    font-size: 30px;
}

.amenities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.amenities-icon-wrapper {
    margin: auto 20px 0px 0px;
    text-align: center;
    flex: 1;
}

.amenities-icon-wrapper:hover .icon-pointer {
    background:#dfce0d;
}

.icon-description {
    visibility: hidden;
    font-size: 18px;
}

.amenities-icon-wrapper:hover .icon-description {
    visibility: visible;
}

.icon-pointer {
    height: 5px;
    width: 30%;
    margin: 0px auto;
}

.features-list {
    margin-top: 40px;
    flex: 2;
    font-size: 24px;
}

.feature-item {
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 2px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #E5E5E5;
    border-left: 5px solid #dfce0d;
    margin-bottom: 20px;
}

/*
    DATEPICKER
*/

table {
    border-spacing: 10px;
}  


@media only screen and (max-width: 1200px) {    
    table {
        border-spacing: 3px;
    }  
}

.available-dates {
    margin: 20px 0px;
    width: 100%;
    border-bottom: 2px solid #dfce0d;
}

@media only screen and (max-width: 1200px) {    
    .available-dates {
        margin: 10px 0px;
    }    
}

.dates-controller {

}

.dates-input {
    display: flex;
    margin-bottom: 20px;
}

.dates-input-label {
    font-family: Montserrat;
    font-size: 25px;
    min-width: 100px;
}

.date-input {
    flex: 1;
    max-width: 200px;
    outline: none;
    margin-left: 20px; 
}

.date-input:hover {
    border-bottom: 4px solid #dfce0d; 
    cursor: pointer;
}

input[type="date"]{
    font-size:16px;
    font-family: Roboto;
    border: 0px;
    border-bottom: 2px solid #dfce0d; 

}

@media only screen and (max-width: 1200px) {    
    .calendar-container {
        flex-direction: column;
    }
       
}

.calendar-container {
    display: flex;
    min-height: 350px;
}

@media only screen and (max-width: 1200px) {    
    .calendar-container {
        margin: 10px 0px;
    }    
}

.from-to-container {
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-icon {
    cursor: pointer;
}

.rotating-button-container {
    margin: 20px;
}

.rotating-button {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.rotating-button a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

.rotating-button a:before,
.rotating-button a:after{
    position: absolute;
    content: "BOOK NOW!";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #dfce0d;
    box-sizing: border-box;
    border-radius: 5px;
}
.rotating-button a:before{
    color: #000;
    background: #dfce0d;
    transform: rotateY(0deg) translateZ(25px);
}
.rotating-button a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}
.rotating-button a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}

.rotating-button.hover-class a{
    transform: translateZ(-25px) rotateX(-90deg);
}

.rotating-button-container {
    text-align: center;
} 

#previous-month {
    transform: rotate(180deg);
}

#calendar {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.month-container {
    min-height: 350px;
}

.single-month {
    text-align: left;
    width: fit-content;
    margin: 0px auto;
}

.single-month h3 {
    margin-left: 10px;
}

@media only screen and (max-width: 1200px) {    
    .single-month h3 {
        margin-left: 0px;
    }  
}

.selectable {
    text-decoration:none; 
    cursor: pointer;  
    border-radius: 0;
    -webkit-transition: border-radius 1s;
    transition: border-radius 1s;
}

.disabled {
    text-decoration:none; 
    cursor: default;  
    color:#E5E5E5;
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.selectable:hover {
    background-color: #dfce0d2c;
    border-radius: 100px;
} 

.date {
    padding: 5px;
    text-align: center;
}

.selected {
    background: #dfce0d;
    border-radius: 100px;
}

.light-selected {
    background-color: #dfce0d2c;
    border-radius: 100px;
}

